/* import fonts */

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  height: 350px;
}

.logo-content {
  width: 30%;
  background-color: rgba(0,0,0,0.2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url(./images/employee-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Roboto";
  display: flex;
  flex-flow: column;
}

/* CSS for employees */
.employees {
  background-color: #2E2E36;
  color: #fff;
  display: flex;
  flex: 1;
}

.employees-list {
  width: 30%;
  background-color: rgba(0,0,0,0.2);
}

.employees-list .list {
 list-style: none;
 padding: 0;
 width: 100%;
 margin: 45px 0;
}

.employees-list .item-list {
  cursor: pointer;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-weight: 300;
}

.employees-list .item-list.has-colleagues {
  color: #3BD2F7;
}

.employees-list .item-list:hover,
.employees-list .item-list.active {
  background-color: #AAA;
}

.employees-list .item-list.size-1 {
  font-size: 18px;
}

.employees-list .item-list.size-2 {
  font-size: 22px;
}

.employees-list .item-list.size-3 {
  font-size: 28px;
}

.employees-list .item-list.size-4 {
  font-size: 36px;
}

.employees-list .item-list.size-5 {
 font-size: 46px;
}

.employees-detail {
 flex: 1;
 min-width: 0;
 padding: 0 100px;
 margin-top: -60px;
 display: flex;
 align-items: flex-start;
}

.employees-detail .detail-image {
  width: 150px;
  min-width: 150px;
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
  border: 1px solid #dddd;
  border-radius: 10px;
  margin-right: 50px;
}

.employees-detail .detail-image:before {
 display: block;
    padding-top: 100%;
    content: '';
}

.employees-detail .detail-image img {
    position: absolute;
    top: 50%;
    max-width: none;
    height: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.employees-detail .detail-info .detail-label {
  font-size: 24px;
  margin-right: 24px;
  font-weight: 400;
}

.employees-detail .detail-info .detail-name {
  font-size: 46px;
}

.employees-detail .detail-info .detail-popularity {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.employees-detail .detail-popularity .detail-label {
  margin-bottom: 0;
}

.employees-detail .detail-info .detail-biography{
  background: #1C1C24;
  padding: 20px;
  border-radius: 10px;
  font-weight: 300;
}